<div id="installer-batch">
  <header class="major">
    <h2>Run Script</h2>
  </header>

  <p>
    A Batch script file has been downloaded, please run it to install.
  </p>

  <p>
    If Windows or your browser blocks it, click run anyway (you may also need to click "more info" to see the option). It gets blocked just because the file isn't known.
  </p>

  <p>
    If you have any problems you can join our Discord server.
  </p>

  <ul class="actions special final">
    <li><a href="#" class="button primary"><i class="icon solid fa-times" style="margin-right: 5px;"></i> Close</a></li>
  </ul>
</div>

<div id="installer-file">
  <header class="major">
    <h2>File Handling</h2>
  </header>

  <p>
    When clicking continue, a file will be downloaded. Please overwrite (save over) the file which you can find in the path below:
  </p>

  <ul class="actions special">
    <li id="path-for">path here</li>
  </ul>

  <ul class="actions special final">
    <li><a href="#" class="button primary"><i class="icon solid fa-arrow-right" style="margin-right: 5px;"></i> Continue</a></li>
  </ul>
</div>

<div id="installer-restart">
  <header class="major">
    <h2>Restart</h2>
  </header>

  <p>
    Restart Discord fully by quitting it via the system tray (Discord icon likely in the corner of your taskbar), then reopen it.
  </p>

  <ul class="actions special final">
    <li><a href="#" class="button primary"><i class="icon solid fa-times" style="margin-right: 5px;"></i> Close</a></li>
  </ul>
</div>

<input type="file" id="fileSelect" style="display: none">


<script defer>
  let channel, channelSuffix, path;
  let plat = navigator.platform.substring(0, 3).toLowerCase();

  const installerBatch = document.getElementById('installer-batch');
  const installerFile = document.getElementById('installer-file');
  const installerRestart = document.getElementById('installer-restart');

  const installerPath = document.getElementById('path-for');

  const fileSelectEl = document.getElementById('fileSelect');


  installerFile.querySelector('.final a').onclick = () => {
    downloadFileUrl('https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar', 'app.asar');

    installerFile.style.display = 'none';
    installerRestart.style.display = 'block';
  };

  const getFileUpload = async () => {
    fileSelectEl.value = null; // Prevent not firing change for repeated files
    fileSelectEl.click();

    await new Promise((res) => {
      fileSelectEl.onchange = () => {
        res();
      };
    });

    fileSelectEl.onchange = undefined;

    const file = fileSelectEl.files[0];

    if (file === undefined) {
      return undefined;
    }

    return file;
  };

  const downloadToFile = (content, filename, contentType) => { // https://robkendal.co.uk/blog/2020-04-17-saving-text-to-client-side-file-using-vanilla-js
    const a = document.createElement('a');
    const file = new Blob([content], {type: contentType});

    a.href = URL.createObjectURL(file);
    a.download = filename;
    a.click();

    URL.revokeObjectURL(a.href);
  };

  const downloadFileUrl = (url, filename) => {
    const a = document.createElement('a');

    a.href = url;
    a.download = filename;
    a.click();
  };

  /*installer5.querySelector('.final a').onclick = async () => {
    const file = await getFileUpload();

    const reader = new FileReader();

    reader.readAsText(file, "UTF-8");

    const result = await new Promise((res) => {
      reader.onload = (e) => {
        res(e.target.result);
      };
    });

    let json = JSON.parse(result);

    json['UPDATE_ENDPOINT'] = `https:\/\/updates.goosemod.com/${branches.join('+')}`;
    json['NEW_UPDATE_ENDPOINT'] = `https:\/\/updates.goosemod.com/${branches.join('+')}/`;

    console.log(json);

    finalResult = JSON.stringify(json, null, 2);

    downloadToFile(finalResult, 'settings.json', 'text/plain');

    installer5.style.display = 'none';
    installer6.style.display = 'block';
  }; */

  document.body.onclick = (e) => {
    if (!e.path.some((x) => x.id?.startsWith('install'))) {
      [...document.querySelectorAll(`[id^="installer"]`)].forEach((x) => x.style.display = 'none');
    }
  };

  installerBatch.querySelector('.final a').onclick = () => {
    installerBatch.style.display = 'none';
  };

  installerRestart.querySelector('.final a').onclick = () => {
    installerRestart.style.display = 'none';
  };

  const paths = {
    'stable': '%localappdata%\\Discord\\app-1.0.9036\\resources',
    'stable_x64': '%localappdata%\\Discord\\app-1.0.9147\\resources', // this isn't the real version returned by api, no clue how this happens
    'stable_x64_2': '%localappdata%\\Discord\\app-1.0.9047\\resources', // idek anymore
    'ptb': '%localappdata%\\DiscordPTB\\app-1.0.1060\\resources',
    'canary': '%localappdata%\\DiscordCanary\\app-1.0.263\\resources',
    'canary_x64': '%localappdata%\\DiscordCanary\\app-1.0.363\\resources'
  };

  const downloadBatch = () => {
    const degradePath = (path, amount = 1) => {
      let segments = path.split('\\');
      segments[segments.length - 2] = segments[segments.length - 2].split('.').map((x, i) => i === 2 ? (parseInt(x) - amount) : x).join('.');
      return segments.join('\\');
    };
    const oldPath = degradePath(path);
    // discord's updater is really good so sometimes even fresh installs are 2 versions out of date.
    const olderPath = degradePath(oldPath);
    const oldestPath = degradePath(olderPath);

    batch = `@echo off
echo Closing Discord... (wait around 5 seconds)

C:\\Windows\\System32\\TASKKILL.exe /f /im Discord${channelSuffix}.exe > nul 2> nul
C:\\Windows\\System32\\TASKKILL.exe /f /im Discord${channelSuffix}.exe > nul 2> nul
C:\\Windows\\System32\\TASKKILL.exe /f /im Discord${channelSuffix}.exe > nul 2> nul

C:\\Windows\\System32\\TIMEOUT.exe /t 5 /nobreak > nul 2> nul

echo Installing OpenAsar... (ignore any blue output flashes)
copy /y "${path}\\app.asar" "${path}\\app.asar.backup" > nul 2> nul
if exist "${path}\\_app.asar" copy /y "${path}\\_app.asar" "${path}\\app.asar.backup" > nul 2> nul
if exist "${path}\\app.asar.orig" copy /y "${path}\\app.asar.orig" "${path}\\app.asar.backup" > nul 2> nul

${window.navigator.userAgent.includes("Windows NT 6.1") ?
  `C:\\Windows\\System32\\certutil.exe -urlcache -split -f "https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar" "${path}\\app.asar" > nul 2> nul` :
  `powershell -Command "Invoke-WebRequest https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar -OutFile \\"${path.replace('%localappdata%', '$Env:LOCALAPPDATA')}\\app.asar\\"" > nul 2> nul`
}

${channel === 'canary' ? `if exist "${paths.canary_x64}\\app.asar" powershell -Command "Invoke-WebRequest https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar -OutFile \\"${paths.canary_x64.replace('%localappdata%', '$Env:LOCALAPPDATA')}\\app.asar\\"" > nul 2> nul` : ''}

${channel === 'stable' ? `if exist "${paths.stable_x64}\\app.asar" powershell -Command "Invoke-WebRequest https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar -OutFile \\"${paths.stable_x64.replace('%localappdata%', '$Env:LOCALAPPDATA')}\\app.asar\\"" > nul 2> nul` : ''}
${channel === 'stable' ? `if exist "${degradePath(paths.stable_x64)}\\app.asar" powershell -Command "Invoke-WebRequest https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar -OutFile \\"${degradePath(paths.stable_x64).replace('%localappdata%', '$Env:LOCALAPPDATA')}\\app.asar\\"" > nul 2> nul` : ''}
${channel === 'stable' ? `if exist "${degradePath(degradePath(paths.stable_x64))}\\app.asar" powershell -Command "Invoke-WebRequest https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar -OutFile \\"${degradePath(degradePath(paths.stable_x64)).replace('%localappdata%', '$Env:LOCALAPPDATA')}\\app.asar\\"" > nul 2> nul` : ''}

${channel === 'stable' ? `if exist "${paths.stable_x64_2}\\app.asar" powershell -Command "Invoke-WebRequest https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar -OutFile \\"${paths.stable_x64_2.replace('%localappdata%', '$Env:LOCALAPPDATA')}\\app.asar\\"" > nul 2> nul` : ''}
${channel === 'stable' ? `if exist "${degradePath(paths.stable_x64_2)}\\app.asar" powershell -Command "Invoke-WebRequest https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar -OutFile \\"${degradePath(paths.stable_x64_2).replace('%localappdata%', '$Env:LOCALAPPDATA')}\\app.asar\\"" > nul 2> nul` : ''}
${channel === 'stable' ? `if exist "${degradePath(degradePath(paths.stable_x64_2))}\\app.asar" powershell -Command "Invoke-WebRequest https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar -OutFile \\"${degradePath(degradePath(paths.stable_x64_2)).replace('%localappdata%', '$Env:LOCALAPPDATA')}\\app.asar\\"" > nul 2> nul` : ''}

if exist "${oldPath}\\app.asar" powershell -Command "Invoke-WebRequest https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar -OutFile \\"${oldPath.replace('%localappdata%', '$Env:LOCALAPPDATA')}\\app.asar\\"" > nul 2> nul
if exist "${olderPath}\\app.asar" powershell -Command "Invoke-WebRequest https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar -OutFile \\"${olderPath.replace('%localappdata%', '$Env:LOCALAPPDATA')}\\app.asar\\"" > nul 2> nul
if exist "${oldestPath}\\app.asar" powershell -Command "Invoke-WebRequest https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar -OutFile \\"${oldestPath.replace('%localappdata%', '$Env:LOCALAPPDATA')}\\app.asar\\"" > nul 2> nul

if exist "${path}\\_app.asar" powershell -Command "Invoke-WebRequest https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar -OutFile \\"${path.replace('%localappdata%', '$Env:LOCALAPPDATA')}\\_app.asar\\"" > nul 2> nul
if exist "${path}\\app.asar.orig" powershell -Command "Invoke-WebRequest https://github.com/GooseMod/OpenAsar/releases/download/nightly/app.asar -OutFile \\"${path.replace('%localappdata%', '$Env:LOCALAPPDATA')}\\app.asar.orig\\"" > nul 2> nul

echo Opening Discord...
start "" "%localappdata%\\Discord${channelSuffix}\\Update.exe" --processStart Discord${channelSuffix}.exe > nul 2> nul

C:\\Windows\\System32\\TIMEOUT.exe /t 1 /nobreak > nul 2> nul

echo.
echo.
echo OpenAsar should be installed! You can check by looking for an "OpenAsar" option in your Discord settings.
echo Not installed? Try restarting Discord, running the script again, or if still not join our Discord server.
echo.
echo openasar.dev

echo.
pause
`;

    downloadToFile(batch, `openasar_installer_${channel}.bat`, 'application/bat');
  };

  for (const el of document.querySelectorAll('#install-button ~ div a')) {
    el.onclick = async () => {
      channel = el.textContent.toLowerCase().split(' ').pop();
      channelSuffix = channel !== 'stable' ? (channel[0].toUpperCase() + channel.substring(1)) : '';

      if (plat === 'win') {
        installerBatch.style.display = 'block';
        path = paths[channel];
        downloadBatch();
      } else {
        switch (plat) {
          case 'lin': {
            const parentEl = document.querySelector('#installer-file ul:not(.final)');
            parentEl.innerHTML = '';

            const linuxSuffix = channel !== 'stable' ? ('-' + channel) : '';
            for (const p of [ `/opt/discord${linuxSuffix}/resources/app.asar`, `/usr/lib/discord${linuxSuffix}/resources/app.asar`, `/usr/lib64/discord${linuxSuffix}/resources/app.asar`, `/usr/share/discord${linuxSuffix}/resources/app.asar`, `/var/lib/flatpak/app/com.discordapp.Discord${channelSuffix}/current/active/files/discord${linuxSuffix}/resources/app.asar`, `~/.local/share/flatpak/app/com.discordapp.Discord${channelSuffix}/current/active/files/discord${channelSuffix}/resources/app.asar` ]) {
              const el = document.createElement('li');
              el.textContent = p;

              parentEl.appendChild(el);
            }

            document.querySelector('#installer-file p').textContent = document.querySelector('#installer-file p').textContent.replace('Please overwrite (save over) the file which you can find in the path below:', 'Please find which one of the paths below exist as Linux has various paths. Once you find the path, please overwrite (save over) the file:');

            // installerPath.textContent = `/opt/discord${channel !== 'stable' ? ('-' + channel) : ''}/resources/app.asar`;
            break;
          }

          case 'mac': {
            installerPath.textContent = `/Applications/Discord${channelSuffix}.app/Contents/Resources/app.asar`;
            break;
          }
        }

        installerFile.style.display = 'block';
      }
    };
  }
</script>
