{{ $paginator := .Paginate site.RegularPages }}

<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
    </head>
    <body class="landing is-preload">
        <div id="page-wrapper">
            {{- partial "header.html" . -}}

            <!-- Banner -->
            <nav id="banner">
            {{ if .Site.Data.homepage.banner.enable }}
            {{ with .Site.Data.homepage.banner }}
                <h2>{{ .title }}</h2>
                <p>{{ with .content }}{{ . }}{{else}}{{ $.Site.Params.description }}{{end}}</p>
                <ul class="actions special">
                    <li id="install-parent"><a id="install-button" href="#" class="button primary" alt="Install" style="position: relative; padding-right: 3.5em;"><i class="icon solid fa-cloud-download-alt" style="margin-right: 5px;"></i> Install <i class="icon solid fa-chevron-down" style="position: absolute; right: 12px;"></i></a>
                        <div class="">
                            <a class="button" href="#install">Stable</a>
                            <a class="button" href="#install">PTB</a>
                            <a class="button" href="#install">Canary</a>
                        </div>
                    </li>
                    
                {{ range .buttons }}
                    <li><a href="{{ .link }}" class="button {{ .class }}" alt="{{ .title }}"><i class="icon solid {{ .icon }}" style="margin-right: 5px;"></i> {{ .title }}</a></li>
                {{ end }}
                </ul>
            {{ end }}
            {{ end }}

            <!-- <section id="stats-container">
                {{ with .Site.Data.homepage.stats }}
                        {{ range .rows }}
                            {{ range .items }}
                                <h3><strong>{{ .stat }}</strong> {{ .text }}</h3>
                            {{ end }}
                        {{ end }}
                {{ end }}
            </section> -->
            </nav>

            <!-- Main -->
            <section id="main" class="container">
                <!-- Highlight -->
                {{ if .Site.Data.homepage.highlight.enable }}
                {{ with .Site.Data.homepage.highlight }}
                    <section class="box special">
                        <header class="major">
                            {{/* Include 'safeHTML' function to render the HTML in strings */}}
                            <h2>{{ .header | safeHTML }}</h2>
                            <p>{{ .content | safeHTML }}</p>
                        </header>
                        {{ with .image }}
                        <span class="image featured"><img src="{{ . }}" alt="" /></span>
                        {{ end }}
                    </section>
                {{ end }}
                {{ end }}

                <!-- Features -->
                {{ if .Site.Data.homepage.features.enable }}
                {{ with .Site.Data.homepage.features }}
                    <div class="card-grid">
                        {{ range .items }}
                            <section class="box special">
                                <span class="icon solid major {{ .icon }} {{ .accent }}"></span>
                                <h3>{{ .title }}</h3>
                                <p>{{ .content }}</p>
                            </section>
                        {{ end }}
                    </div>
                {{ end }}
                {{ end }}

                <!-- Posts -->
                {{ if .Site.Data.homepage.blog.enable }}
                {{ with $blogSettings := .Site.Data.homepage.blog }}
                  {{ with .header }}
                  <header class="major">
                      <h2>{{ . }}</h2>
                  </header>
                  {{ end }}
                  <div class="row">
                      {{ range $paginator.Pages }}
                          <div class="col-6 col-12-narrower">
                              <section class="box special">
                                  {{ with partial "bannerURL" . }}
                                  <span class="image featured"><img src="{{ . }}" alt="" /></span>
                                  {{ end }}
                                  <h3>{{ .Title }}</h3>
                                  {{ with .Date }}<p>{{ .Format "Jan 2, 2006" }}</p>{{ end }}
                                  {{ with .Description }}
                                  <p>{{ . }}</p>
                                  {{ else }}
                                  <p>{{ .Summary }}</p>
                                  {{ end }}
                                  <ul class="actions special">
                                      <li><a href="{{ .Permalink }}" class="button alt">{{ $blogSettings.buttonText }} </a></li>
                                  </ul>
                              </section>
                          </div>
                      {{ end }}
                  </div>
                {{ end }}
                {{ template "_internal/pagination.html" . }}
                {{ end }}

                <section id="size-chart" class="box">
                    <div>
                        <div>Original</div>
                        <div id="chart-bar-1"></div>
                        <div id="chart-size-1">~9 MB (9000 KB)</div>
                    </div>

                    <div>
                        <div>OpenAsar</div>
                        <div id="chart-bar-2"></div>
                        <div id="chart-size-2">99 KB</div>
                    </div>
                </section>

                <style>
                    #size-chart {

                    }

                    #size-chart > div {
                        display: flex;
                    }

                    #size-chart > div:not(:last-child) {
                        margin-bottom: 40px;
                    }

                    #size-chart > div > div:first-child {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 20px;
                        margin-right: 20px;
                        width: 100px;
                        text-align: right;
                    }

                    #size-chart > div > div:last-child {
                        font-weight: 500;
                        margin-left: 20px;
                        line-height: 20px;
                    }

                    #chart-bar-1, #chart-bar-2 {
                        height: 20px;
                        
                        background-color: #1AA7EC;
                        border-radius: 4px;
                    }

                    #chart-bar-1 {
                        width: 65%;
                    }

                    #chart-bar-2 {
                        width: 1%;
                    }
                </style>

                <script>
                    (async () => {
                        const discordAsar = 9000;
                        const [ release ] = await (await fetch('https://api.github.com/repos/GooseMod/OpenAsar/releases')).json();
                        window.release = release;
                        const asarAsset = release.assets.find((x) => x.name === 'app.asar');
                        const asarKB = asarAsset.size / 1024;

                        document.querySelector('#chart-bar-2').style.width = (asarKB / discordAsar * 65) + '%';
                        document.querySelector('#chart-size-2').textContent = asarKB.toPrecision(3) + ' KB';
                    })();
                </script>
            </section>

            <!-- CTA -->
            {{ if .Site.Data.homepage.cta.enable }}
            {{ with .Site.Data.homepage.cta}}
                <section id="cta">
                    <h2>{{ .header }}</h2>
                    <p>{{ .content }}</p>
                    <form>
                        <div class="row gtr-50 gtr-uniform">
                            <div class="col-8 col-12-mobilep">
                                <input type="email" name="email" id="email" placeholder="Email Address" />
                            </div>
                            <div class="col-4 col-12-mobilep">
                                <input type="submit" value="Sign Up" class="fit" />
                            </div>
                        </div>
                    </form>
                </section>
            {{ end }}
            {{ end }}

            {{- partial "footer.html" . -}}
        </div>
        {{- partial "installer.html" .Site.Data.homepage.installer -}}
    </body>
</html>